.containerCardInline {
  box-shadow: 1px 1px 5px #00000059;
  border-radius: 10px;
  width: 49%;
  max-height: auto;
  margin-bottom: 1.5rem;
  margin-left: 0.2rem;
  background-color: var(--white);
  position: relative;
}

.containerCardInline:nth-child(odd) {
  margin-right: 1rem;
}

.contentCard {
  display: flex;
}

.contentImage {
  width: 50%;
  max-height: auto;
  background-position: center;
  background-size: cover;
  border-radius: 10px 0 0 10px;
}


.contentDescription {
  width: 52%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.contentCard .contentDescription .stars h3 {
  margin-top: .8rem;
}

.stars{
  display: flex;
  flex-direction: column;
}
.contentCard .contentDescription .stars p {
  display: inline;
  color: var(--title);
  margin-right: 0.5rem;
}

.contentDescription .contentAvaliation {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  justify-content: space-between;
}

.avaliation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  position: absolute;
  right: 5px;
  top: 5px;

}

.avaliation>div {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
  border-radius: 50%;

  background: var(--title);
}

.contentAvaliation .avaliation span {
  color: var(--white);
}

.contentAvaliation .avaliation p {
  color: var(--text);
  text-align: center;
  font-size: 0.875rem;
}

.contentIcons {
  margin-top: 1.2rem;
  margin-bottom: 0.8rem;
}

.contentIcons>div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.contentIcons svg {
  width: 16px;
  color: var(--title);
}

.contentIcons p {
  margin-right: 0.875rem;
}

.contentText {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

/* .contentText .contentTextDescription {
  margin-bottom: 1rem;
} 
*/

button.button {
  width: 100%;
  height: 2.5rem;
  border-radius: 6px;
  color: var(--white);
  font-size: 1rem;
  font-weight: bold;
  background-color: var(--primary);
  border: 1px solid transparent;
  margin-top: 1rem;
  transition: all ease-in-out .2s;
}

button.button:hover {
  background: var(--white);
  color: var(--primary);
  border: 1px solid var(--primary);
}

/* REPONSIVIDADE DESKTOP */
@media screen and (max-width: 1262px) {
  .containerCardInline {
    max-width: 47%;
    margin-left: 1rem;
  }
}

@media screen and (max-width: 1110px) {
  .contentDescription .contentAvaliation {
    flex-direction: column;
  }
  /* .contentAvaliation .avaliation {
    align-items: start;
  } */
} 

/* RESPONSIVIDADE TABLET */
@media screen and (max-width: 1117px) {
  .containerCardInline {
    max-width: 46%;
    margin: 1rem;
  }

}

@media screen and (max-width: 954px) {
  .contentCard {
    display: block;
  }

  .contentCard .contentImage {
    width: 100%;
    height: 220px;
    border-radius: 10px 10px 0 0;
  }

  .contentCard .contentDescription {
    width: 100%;
  }

  .avaliation {
    right: 5px;
    top: 240px;
  
  }
}

@media screen and (max-width: 799px) {

  .containerCardInline{
    width: 45%
  }

  .contentCard .contentDescription {
    padding: 1rem;
  }

  .containerCardInline {
    max-width: 100%;
    margin: 1rem;
    padding-bottom: 5px;
  }

  .contentImage {
    width: 100%;
  }

  .contentCard .contentDescription {
    width: 100%;
  }
}

/* RESPONSIVIDADE MOBILE */
@media screen and (max-width:650px) {
  .containerCardInline{
    width: 95%
  }
}